

.output_wrapper
{
	   width:100%;
     height:100%;
     line-height: 1.6;
     font-size: 16px  ;
     color: #000000;
     font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;   
}

h1,h2,h3,h4,h5,h6 {
  font-weight:bold;
  color:#000000;
}
h1 {
  font-size: 26px  ;
 
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
a {

  word-break: break-all !important;
}

ul, ol {
  padding-left: 32px;
}
ul li,ol li
{
  color: inherit;
  
}

ul{
    list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
	





p {
  
    font-size: inherit;
}

pre	code {
	    	    
		 display: block !important;
		 word-wrap: normal !important;
		 word-break: normal !important;	 
		 white-space: pre !important;	
		 font-family: Consolas, Inconsolata, Courier, monospace;
		 overflow: auto !important;
		 overflow-scrolling: touch;
		 color:inherit;
}

pre code span{
      white-space: inherit !important;
      word-wrap: inherit !important;
      word-break: inherit !important;
      font-size: inherit !important;
}

pre code *
{
        color:inherit;
        line-height: inherit;
}


.code_size_default  /*for pre code  default size*/
{
	line-height: 18px !important ;
  font-size: 14px !important ; 
	font-weight:normal !important ;
  word-spacing:0px !important ; 
  letter-spacing:0px !important ; 
}





.code_size_narrow /*for pre code  narrow size*/
{
   line-height: 15px !important ; 
   font-size: 11px !important ; 
   font-weight:normal !important ;
   word-spacing:-3px !important; 
   letter-spacing:0px !important; 
}


blockquote {
   display: block !important;
  padding: 15px 1rem;
  font-size: 14px;
  padding-right: 15px;
  margin-left: 0;
  color: #819198;
  border-left: 6px solid #dce6f0;
  background: #f2f7fb;
  overflow: auto !important;
  overflow-scrolling: touch;
  word-wrap: normal !important;
  word-break: normal !important;  
  white-space: pre !important; 

}

blockquote *
{
    white-space: inherit !important;
    word-wrap: inherit !important;
    word-break: inherit !important;
}


blockquote p {
/*	color: inherit !important; */
}

/* 让链接在 hover 状态下显示下划线 */

a {
  color: #1e6bb8;
}

a:hover {
  text-decoration: underline;
}

hr {
  height: 1px;
  margin: 1.5rem 0;
  border: none;
  border-top: 1px dashed #A5A5A5;
}

